#page-orphanages{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
aside{
    width: clamp(20rem, 25vw, 44rem);
    background: var(--gradiente);
    padding: clamp(4rem, 5vw, 8rem);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside h2{
    margin: 6.4rem 0 0 0;
    font: 800 clamp(2rem, 5vw, 3.6rem)/1.1 'Nunito', sans-serif;
}

aside p {
    margin: 2.4rem 0 0 0;
    font: 400 1.6rem/1.5 'Nunito', sans-serif;
}

aside footer p{
    margin: 0.8rem 0 0 0;
}

/* Button Plus */

a.create-orphanage{
    position: absolute;
    z-index: 99;
    width: 6.4rem;
    height: 6.4rem;
    background: var(--blue);
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4rem;
    right: 4rem;

    transition: background-color 200ms;
}

a.create-orphanage:hover{
    background: #17D6EB;
}

#page-orphanages .leaflet-popup-content-wrapper{
    background: rgba(255, 255, 255, 0.8);
    
    border-radius: 20px;
}
#page-orphanages .leaflet-popup-content{
    color: #0089a5;
    margin: .8rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.leaflet-popup-content a{
    width: 4rem;
    height: 4rem;
    background: #15c3d6;
    box-shadow: 17.2828px 27.65px 41.48px rgba(23, 142, 166, 0.16);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: background-color 0.2s;
}
.leaflet-popup-content a:hover{
    background: #17d6eb;
}
.leaflet-popup-tip-container{
    display: none;
}

#page-orphanages .leaflet-container{
    font: 700 2rem/1 'Nunito',sans-serif;
    z-index: 5;
}

/* MAP */

#map-id {
    min-height: 100vh;
    width: 100%;
    opacity: 0;
    animation-delay: 200ms;
}





/* DESKTOP version */
@media (min-width:801px){
   
   
   

}