<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <title>Happy</title>
    <link rel="shortcut icon" href="/images/logo-icon.png" type="image/x-icon">
</head>

<body>
    <div id="page-landing">
        <div class="container">
            <header>
                <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logomarca de Happy">
                <div class="location animate-up">
                    <strong>Araras</strong>
                    <p>São Paulo</p>
                </div> <!--location-->
            </header>
        
            <main>
                <h1 class="animate-up">Leve felicidade para o mundo</h1>
                <section class="visit animate-up">
                    <p>Visite orfanatos e mude o dia de muitas crianças.</p>
                    <a href="./orphanages" title="Visite orfanatos">
                        <img src="/images/arrow.svg" alt="Ir para o mapa">
                    </a>
                </section><!--visit-->
            </main>
        </div><!--container-->
    </div><!--page-landing-->
    <script src="index.js"></script>
</body>

</html>